/* Made (with love) by Lex Whalen */

.increm_btn{
    margin:0;
    float: left;
    height:50%;
    padding:0;
    width:30px;
    font-size:10px;
}
.btn__control{
    height:25px;
    margin-bottom:-10px;
    padding:0px;
}
/* Id's */
#input_section{
    margin-top:5px;
    margin-bottom: 10px;
}
#timer_btns{
    background-color: blue;
    display:flex;
    margin:0;
    flex-direction: column;
}
#btn__pause{
    width:52px;
    font-size:7px;
}
#btn__reset-all-timers{
    width:52px;
    font-size:7px;
}
#btn__set-all-timers{
    width:104px;
}